# Read the Synapse Link data, from CosmosDB, with PySpark in Synapse

In [ ]:
df = spark.read\
    .format("cosmos.olap")\
    .option("spark.synapse.linkedService", "CosmosDb1")\
    .option("spark.cosmos.container", "c1")\
    .load()

In [ ]:
display(df.printSchema())

In [ ]:

from pyspark.sql.functions import col

# unpack the structs of type string
df2 = df.select(
    col('route.*'),
    col('date.*'),
    col('count.*'),
    col('to_airport_country.*'),
    col('to_airport_name.*')).filter("_ts > 1629481748").sort("date", ascending=False) 

# rename the unpacked columns
new_column_names = ['route','date','count','to_airport_country','to_airport_name']
df3 = df2.toDF(*new_column_names)

df3.show(n=10)